<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/contentReserveStyle.css}"
          href="css/content_style.css" rel="stylesheet">

    <style>
        .caution {
            position: fixed;
            bottom: 0;
            right: 0;
            text-align: end;
            margin-bottom: 150px;
            margin-right: 100px;
            color: red;
        }
    </style>

</head>
<body>

    <form method="post" class="reserveBox">

        <header><a href="/" class="contentTitle">Movie</a></header>

        <nav class="reserveNav">

            <div class="reserveNavBox_1">
                <a href="">영화관 좌석 조회</a>
            </div>

            <div class="reserveNavBox_2">
                <a th:href="@{/member/setting}" th:text="|${loginMember.getID()}(${loginMember.getName()})님|">박찬미(Chanmi)님</a> <span>|</span>
                <a th:href="@{/content/reserve/reserveMovieList}">예매 내역 확인</a> <span>|</span>
                <a href="/logout">로그아웃</a>
            </div>

        </nav>

        <section class="reserveSection_MovieList">

        <div class="reserveSectionBox_List" th:each="reserveMovie : ${reserveMovieList}">
            <p th:text="|${reserveMovie.openMovie.getTheater().getCinema().getAddress()}
            ${#temporals.format(reserveMovie.getOpenMovie().getOpenMovieStartTime(), 'yyyy-MM-dd HH:mm')}
            ${reserveMovie.getOpenMovie().getMovie().getMovieName()}
            ${reserveMovie.getSite().getSite_name()}
            |">경기도 하남시 ChAnMI | 2023년 12월 15일 18시 39분 | 초능력 대결전 ~날아라 수제김밥~</p>
            <a th:href="@{/member/cancelMovie(cancelMovie=${reserveMovie.getReserve_Movie_PK()})}" class="reserveSectionBox_cancel">예매 취소</a>
        </div>

            <p class="caution">상영이 시작된 영화는 취소하실 수 없습니다.</p>

        </section>

        <footer class="reserveFooter">
            <hr class="reserveFooterHr">
            <a href="">도움말</a>
            <span>|</span>
            <span> 제작자 : 박찬미</span>
        </footer>

    </form>

</body>
</html>
